/*Alignment*/
			.align {
				display: inline;

			}


			.form {
				width: 20%;
				float: left;
				display: inline;
			}

			.changecol {
				color: #ffffff;
			}

			.bannertext {
				margin-top: -30px;
			}


			.Column1 {
				width: 400px;
				float: left;
				margin-left: 8%;
				padding-top: 43px;
				margin-bottom: 1em;
				text-align: center;
			}

			.column2 {
				width: 300px;
				float: left;
				padding-left: 180px;
				padding-top: 46px;
				height: 17em;
				margin-right: 8%;
				margin-bottom: 1em;
				text-align: center;
			}

			.footer {
				text-align: center;
				width: 100%;
				float: left;
				margin: 0 auto;
			}

			.inputspacingUN {
				padding-top: 0px;
				padding-bottom: 6px;
			}

			.loginbutton {
				padding-top: 19px;
			}


			



/*Margin*/
			.marginParty {
				margin-left: 0 auto;
			}


			.marginPM {
				margin-left: .25em;
				margin-top: .25em;
			}

			.marginele {
				margin-left: 10%;
				text-align: center;
			}

			.marginsign {
				margin-right: 5%;
			}
			
/*Color*/
			.BG {
				background-color:#efefef;
				padding: 0 auto;
				margin-top: 0 auto;

			}


			.lightblue {
				color: #287EED;
			}

/* Images */

			.headerbackgroundimage {
				background-image: url("webpat/sgp2.jpeg");
			}

			.banner {
				background-color: #181818;
				height: 25em;
				width: 100%;
			}
/*Other*/

			body {
				width:100%;
				margin: 0;
				background-color: #5E3119;
			}
			.size {
				font-size: 4em;
			}
			.size2 {
				font-size: 3.5em;

			}
			.size3 {
				font-size: 1.5em;
			}
			h1 {
				font-size: 3em;
			}

			h1, p {
				min-width: 500px;
				max-width: 500px;
				overflow: auto;
			}

			h2 {
				font-size: 1.9em;
				color: #ffffff;
			}

			.input1 {
				border-radius: 5px;
				font-size: 1em;
				height: 2em;

			}

			.iinput2 {
				font-size: 20px;
				height: 6em;


			}


