/*Alignment*/
			.align {
				display: inline;
				padding: .5em;}

			.picture {
				height: 17em;
				margin-bottom: 1em;
				text-align: center;
			}

			.Columns {
				width: 44%;
				float: left;
				margin: 2%;
				background: red;
			}

			body {
				background: red;
			}
			



/*Margin*/
			.marginParty {
				margin-left: 49%;
			}

			.marginPM {
				margin-left: 1em;
			}
			
/*Color*/
			.BG, .picture {
				background-color:#efefef;
				padding: .5em;
				margin-top: 2em;

			}

			.lightblue {
				color: #287EED;
			}

/*Other*/

			body {
				width:90%;
				margin: 0 auto;
			}
			.size {
				font-size: 2em;
			}