/*Alignment*/
			.align {
				display: inline;

			}


			.form {
				width: 20%;
				float: left;
				display: inline;
			}

	

			.bannertext {
				margin-top: -30px;
			}


			.Column1 {
				width: 40%;
				float: left;
				margin-left: 90px;
				padding-top: 43px;
				margin-bottom: 1em;
				text-align: center;
			}

			.column2 {
				width: 40%;
				float: left;
				padding-left: 83px;
				padding-top: 59px;
				height: 17em;
				margin-bottom: 1em;
				text-align: center;
			}

			.footer {
				text-align: center;
				width: 100%;
				float: left;
				margin: 0 auto;
			}


			



/*Margin*/
			.marginParty {
				margin-left: 0 auto;
			}


			.marginPM {
				margin-left: .25em;
				margin-top: .25em;
			}

			.marginele {
				margin-left: 10%;
				text-align: center;
			}

			.marginsign {
				margin-right: 5%;
			}
			
/*Color*/
			.BG {
				background-color:#efefef;
				padding: 0 auto;
				margin-top: 0 auto;

			}


			.lightblue {
				color: #287EED;
			}

/* Images */

			.headerbackgroundimage {
				background-image: url("webpat/sgp2.jpeg");
			}

			.banner {
				background-color: #656967;
				height: 23em;
				width: 100%;
			}
/*Other*/

			body {
				width:100%;
				margin: 0;
				background-color: #5E3119;
			}
			.size {
				font-size: 4em;
			}
			.size2 {
				font-size: 3.5em;

			}
			.size3 {
				font-size: 1.5em;
			}
			h1 {
				font-size: 3em;
			}


